.build/
.template/
build/
.cache-loader
.docker-build/
.DS_Store
.idea/
.vscode
*.tsbuildinfo
coverage/
node_modules/
npm-debug.log
package-lock.json
.env
.env.development
.env.production
env
env.development
env.production
test-results.xml
tmp-package.json
yarn-error.log
.yalc
yalc.lock
.nyc_output
cypress/screenshots
cypress/video
