.background {
    padding-bottom: 36px;
}

.buttonsWrapper {
    position: fixed;
    padding: var(--gap-m);
    padding-top: var(--gap-0);
    background-color: var(--color-light-bg-primary);
    bottom: 0;
    left: 0;
    width: 100%;
}
